<a href="https://colab.research.google.com/github/tim-fihost/GroupE/blob/main/groupE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [ ]:
conn = sqlite3.connect('school.db')
cursor = conn.cursor()

In [ ]:
table = '''CREATE TABLE STUDENT(NAME VARCHAR(45), CLASS VARCHAR(30), GRADE INT);'''
cursor.execute(table)

In [ ]:
cursor.execute('''INSERT INTO STUDENT VALUES ('Timur','IoT',4.5)''')

In [ ]:
data = cursor.execute('''SELECT * FROM STUDENT''')
for row in data:
    print(row)

('Timur', 'IoT', 4.5)

In [ ]:
cursor.execute('''INSERT INTO STUDENT VALUES 
('Tatyana','Academic Korean', 4.5),
('MuhammadAli', 'Korean culture', 3.5),
('Saidabror', 'Python', 4.0),
('Azamat','Math', 3.0),
('Vasya', 'Basic Korean', 2.75),
('Kim Suhyon', 'English', 2.5),
('Soo Jihyo', 'Java', 3.5),
('Soo Jihyo', 'C++', 2.0),
('Andrew','Computer Networks', 1.0) ''')

In [ ]:
data = cursor.execute('''SELECT * FROM STUDENT''')
for row in data:
    print(row)

('Timur', 'IoT', 4.5)
('Tatyana', 'Academic Korean', 4.5)
('MuhammadAli', 'Korean culture', 3.5)
('Saidabror', 'Python', 4)
('Azamat', 'Math', 3)
('Vasya', 'Basic Korean', 2.75)
('Kim Suhyon', 'English', 2.5)
('Soo Jihyo', 'Java', 3.5)
('Soo Jihyo', 'C++', 2)
('Andrew', 'Computer Networks', 1)

In [ ]:
cursor.execute('''
SELECT *
  CASE
    WHEN GRADE > 4.2  THEN 'A+'
    WHEN GRADE > 4.0  THEN 'A0'
    WHEN GRADE > 3.5  THEN 'B+'
    WHEN GRADE > 3.0  THEN 'B0'
    WHEN GRADE > 2.75 THEN 'C+'
    WHEN GRADE > 2.0  THEN 'C0'
    WHEN GRADE > 1.75 THEN 'D+'
    WHEN GRADE > 1.0 THEN 'D0'
    WHEN GRADE = 0 THEN 'F'
END AS FINAL GRADE
FROM STUDENT ''')

OperationalError: ignored